.movieCardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  padding: 50px 70px 80px;
  box-sizing: border-box;
  width: 100%;
}

.movieCardList__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

.movieCardList__item {
  width: 100%;
}

.movieCardList__more {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0;
}

.movieCardList__more_invisible {
  padding: 18px 0 19px;
}

.movieCardList__button-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2f2f2f;
  border-radius: 6px;
  font-family: Inter;
  line-height: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  border: 0;
  width: 320px;
  height: 36px;
}

.movieCardList__button-more:hover {
  opacity: .8;
  cursor: pointer;
}

.movieCardList__button-more_invisible {
  visibility: hidden;
}

/* Точка перелома между 1280 и 768 */
@media (max-width: 768px) {
  .movieCardList {
    padding: 60px 30px 80px;
  }
}

/* Точка перелома между 768 и 320 */
@media (max-width: 320px) {
  .movieCardList {
    padding: 40px 10px 80px;
    gap: 20px;
  }

  .movieCardList__list {
    gap: 20px;
  }

  .movieCardList__button-more {
    width: 240px;
  }
}