.about-project {
  display: flex;
  flex-direction: column;
  height: 388px;
  background: #202020;
  padding: 110px 70px 110px;
}

.about-project__title {
  color: #fff;
  font-size: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0 0 23px;
}

.about-project__blocks {
  display: flex;
  border-top: 1px solid #dadada;
  margin-bottom: 110px;
}

.about-project__blocks_mod {
  border: none;
  margin-bottom: 0;
}

.about-project__block {
  margin-right: 40px;
}

.about-project__block_mod {
  margin-right: 0;
}

.about-project__block-name {
  color: #fff;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 70px auto 26px;
}

.about-project__block-text {
  color: #fff;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 0;
}

.about-project__blocks-items-1 {
  width: 228px;
}

.about-project__blocks-items-2 {
  width: 912px;
}

.about-project__time {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #3ddc84;
  margin: 0;
  padding: 9px 14px;
}

.about-project__time_mod {
  background: #303030;
  color: #fff;
}

.about-project__development {
  text-align: center;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin: 14px 0 0;
}

/* Точка перелома между 1280 и 768 */
@media screen and (max-width: 768px) {
  .about-project {
    height: 405px;
    padding: 90px 50px 90px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__block-name {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__blocks {
    margin-bottom: 93px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__blocks_mod {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .about-project__blocks-items-1 {
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__blocks-items-2 {
    width: 528px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__development {
    font-size: 14px;
    font-family: Suisse Intl;
    font-weight: 400;
    line-height: 17px;
  }
}

/* Точка перелома между 768 и 320 */
@media screen and (max-width: 320px) {
  .about-project__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    height: 501px;
    padding: 70px 18px 70px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__blocks {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__blocks_mod {
    flex-direction: row;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .about-project__block {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .about-project__blocks-items-1 {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__blocks-items-2 {
    width: 184px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__block-name {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-top: 60px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__block-name_mod {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__block-text {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__time {
    font-size: 11px;
    padding: 11px 10px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__development {
    font-size: 11px;
    line-height: normal;
    margin-top: 10px;
  }
}