.moviesCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #2f2f2f;
  padding: 6px 6px 3px 22px;
  box-sizing: border-box;
}

.moviesCard__blocks {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'title'
    'duration'
    'like-icon';
}

.moviesCard__title {
  grid-area: title;
  margin: 16px 0 0;
  white-space: nowrap;
  text-align: start;
  color: #fff;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moviesCard__duration {
  align-items: center;
  align-self: normal;
  color: #8b8b8b;
  font-size: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 13px 0 0;
  grid-area: duration;
}

.moviesCard__like {
  width: 14px;
  height: 12px;
  background-image: url(../../../images/like_icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  background-color: #2f2f2f;
  grid-area: like-icon;
  align-self: start;
  margin-top: 10px;
}

.moviesCard__like_delete {
  background-image: url(../../../images/delete_icon.svg);
}

.moviesCard__like:hover {
  opacity: .8;
  cursor: pointer;
}

.moviesCard__link {
  text-decoration: none;
}

.moviesCard__poster {
  width: 220px;
  height: 122px;
  flex-shrink: 0;
  object-fit: cover;
}

/* Точка перелома между 1280 и 320 */
@media (max-width: 600px) {
  .moviesCard {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
    padding-bottom: 8px;
    max-height: fit-content;
  }

  .moviesCard__blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'title like-icon'
      'duration duration';
  }

  .moviesCard__poster {
    width: 100%;
    max-height: 168px;
    height: 100%;
  }

  .moviesCard__title {
    font-size: 12px;
    line-height: normal;
    min-width: 258px;
    text-align: start;
    margin-left: 12px;
    margin-top: 14px;
  }

  .moviesCard__like {
    justify-self: end;
    margin-right: 16px;
    margin-top: 16px;
  }

  .moviesCard__duration {
    max-width: 228px;
    order: 3;
    margin-left: 12px;
    margin-top: 8px;
    align-self: end;
  }
}