.registration {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 70px 30px;
}

.registration__container-top {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.registration__logo:hover {
  cursor: pointer;
  opacity: .8;
}

.registration__title {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0;
}

.registration__container-main {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.registration__label {
  width: 100%;
  display: inline-block;
  text-align: start;
  color: #8b8b8b;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.registration__input {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
  width: 92%;
  border-radius: 8px;
  background: #2f2f2f;
  padding: 15px;
}

.registration__input:focus {
  outline: none;
  transform: scale(1.1);
}

.registration__input_email {
  border-radius: 8px;
  background: #2f2f2f;
  padding: 15px;
}

.registration__button-submit {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #4285f4;
  border-radius: 3px;
  border: 0;
  width: 100%;
  height: 45px;
  margin-top: 68px;
}

.registration__button-submit[disabled] {
  opacity: .3;
}

.registration__button-submit[disabled]:hover {
  cursor: not-allowed;
}

.registration__button-submit:hover {
  cursor: pointer;
  opacity: .8;
}

.registration__container-bottom {
  margin: 16px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 0px 30px;
}

.registration__link-description {
  color: #8b8b8b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.registration__fetch-error {
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  margin-top: 94px;
}

.registration__fetch-error_invisible {
  visibility: hidden;
}

.registration__container-bottom {
  margin: 16px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 0px 30px;
}

.registration__link-description {
  color: #8b8b8b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.registration__link-login {
  color: #4285f4;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.registration__link-login:hover {
  opacity: .7;
}

.registration__error {
  display: inline-block;
  text-align: start;
  min-width: 100%;
  min-height: 16px;
  color: #ee3465;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registration__error-invisible {
  display: none;
}

.registration__error:last-child {
  margin-bottom: 20px;
  border: solid rgb(89, 0, 255);
}

/* Точка перелома между 1280 и 768 */
@media (max-width: 768px) {
  .registration {
    padding: 232px 30px;
  }
}

/* Точка перелома между 768 и 320 */
@media (max-width: 460px) {
  .registration {
    padding: 56px 30px 30px;
  }

  .registration__container-top {
    width: 260px;
    align-items: center;
  }

  .registration__title {
    font-size: 24px;
    width: 260px;
    margin: 50px 0 80px;
    text-align: center;
  }

  .registration__container-main {
    width: 260px;
    box-sizing: border-box;
  }

  .registration__input {
    width: 230px;
  }

  .registration__button-submit {
    font-size: 12px;
    margin-top: 157px;
  }

  .registration__link-description {
    font-size: 12px;
  }

  .registration__link-login {
    font-size: 12px;
  }

  .registration__container-bottom {
    margin-top: 14px;
    gap: 7px;
  }
}